# Project exclude paths
/.gradle/
/.idea/
/sample/build/
/sample/build/intermediates/javac/debug/classes/
/sample/release/
/arcnslibrary/build/
/arcnslibrary/build/intermediates/javac/debug/classes/
/arcnslibrary/release/
build
gradlew
*.bat
*.iml
local.properties

