# Project exclude paths
/.gradle/
/.idea/
/app/build/
/app/build/intermediates/javac/debug/classes/
/app/release/
/arcnslibrary/build/
/arcnslibrary/build/intermediates/javac/debug/classes/
/arcnslibrary/release/
gradlew
*.bat
*.iml
*.properties